<div class="sidebar vh-100">
  <div class="px-2 site-title">
    <h4 class="my-2"><i class="fas fa-th"></i> Dashboard</h4>
  </div>
  <div class="dropdown-divider m-0"></div>
  <ul class="list-unstyled sidebar-list">
    <li>
      <a href=""><i class="fas fa-home"></i> Home</a>
    </li>
    <li>
      <a href=""><i class="fas fa-plus-square"></i> Add Book</a>
    </li>
    <li>
      <a href=""><i class="fas fa-journal-whills"></i> See All</a>
    </li>
    <li>
      <a href=""><i class="fas fa-book-open"></i> See One</a>
    </li>
  </ul>
  <div class="mt-auto py-2 sidebar-footer">
    <a href="" class="text-white"
      ><i class="fas fa-arrows-alt"></i> Footer Data</a
    >
  </div>
</div>
